* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

/* html{
  height: 1024px;
} */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  display: flex;
  background: #FFFFFF;
  border-radius: 0px 0px 22px 22px;
  box-shadow: 0px 4px 12px 0px #0000001F;
  justify-content: flex-end;
  width: 100%;
}

.container-logo {
  display: flex;
  justify-content: center;
}

.logo {
  margin-right: 600px;
  justify-content: center;
  align-items: center;
}

.menubar {
  margin-left: 47.6px;
}

.navbar ul {
  display: flex;
  margin-right: 100px;
  gap: 30px;
  padding: 1.5rem 2rem;
}

.navbar ul li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

body {
  background-image: url("../assets/img/background.png");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 100%; */
  /* height: 100vh; */
}

.waves {
  position: relative;
}

.wave1, .wave2, .wave3 {
  position: absolute;
  z-index: -1; 
}

.wave3 {
  top: 80px;
  left: 0;
  width: 23%;
}

.wave1 {
  bottom: 0;
  left: 25px;
  width: 20%;
}

.wave2 {
  bottom: 0;
  right: 0;
  width: 30%;
}

.waitmaincontainer{
  background-color: #F89F37;
  width: 626px;
  height: 1350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 60px;
  text-align: center;
}

.notiicon{
  width: 107px;
  height: 107px;
}

.waitmaincontainer p{
  color: #fff;
  font-size: 32px;
  margin: 0px 60px;
}
.formcontainer{
  display: flex;
  justify-content: space-between;
  margin: 53px 61px 61px 36px;
}

.delete{
  border: none;
  background-color: #fff;
  color: #FF900E;
  width: 338px;
  height: 86px;
  border-radius: 50px;
  font-size: 40px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0,.26);
  -webkit-box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0,.26);
  -moz-box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  margin-bottom: 75px;
}

.namecontainer{
  background-color: #fff;
  border-radius: 20px;
  height: 95px;
  width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 36px;
}

.namecontainer p{
  color: #000;
  font-size: 20px;
  margin: 10px 0px 0px 19px;
}

.namecontainer input{
  border: none;
  width: 219px;
  margin-bottom: 24px;
  margin-left: 19px;
  color: #a5a5a5;
}

.emailcontainer{
  background-color: #fff;
  border-radius: 20px;
  height: 95px;
  width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 36px;
}
.emailcontainer p{
  color: #000;
  font-size: 20px;
  margin: 10px 0px 0px 19px;
}
.emailcontainer input{
  border: none;
  width: 267px;
  margin-bottom: 24px;
  margin-left: 19px;
  color: #a5a5a5;
}
.telcontainer{
  background-color: #fff;
  border-radius: 20px;
  height: 95px;
  width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 36px;
}

.telcontainer p{
  color: #000;
  font-size: 20px;
  margin: 10px 0px 0px 19px;
}

.telcontainer input{
  border: none;
  width: 219px;
  margin-bottom: 24px;
  margin-left: 19px;
  color: #a5a5a5;
}

.cidadecontainer{
  background-color: #fff;
  border-radius: 20px;
  height: 95px;
  width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 36px;
}

.cidadecontainer p{
  color: #000;
  font-size: 20px;
  margin: 10px 0px 0px 19px;
}

.cidadecontainer input{
  border: none;
  width: 219px;
  margin-bottom: 24px;
  margin-left: 19px;
  color: #a5a5a5;
}

.cpfcontainer{
  background-color: #fff;
  border-radius: 20px;
  height: 95px;
  width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 36px;
}

.cpfcontainer p{
  color: #000;
  font-size: 20px;
  margin: 10px 0px 0px 19px;
}

.cpfcontainer input{
  border: none;
  width: 219px;
  margin-bottom: 24px;
  margin-left: 19px;
  color: #a5a5a5;
}

.nasccontainer{
  background-color: #fff;
  border-radius: 20px;
  height: 95px;
  width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 36px;
}

.nasccontainer p{
  color: #000;
  font-size: 20px;
  margin: 10px 0px 0px 19px;
}

.nasccontainer input{
  border: none;
  width: 219px;
  margin-bottom: 24px;
  margin-left: 19px;
  color: #a5a5a5;
}

.senhacontainer{
  background-color: #fff;
  border-radius: 20px;
  height: 95px;
  width: 503px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 36px;
}

.senhacontainer p{
  color: #000;
  font-size: 20px;
  margin: 10px 0px 0px 19px;
}

.senhacontainer input{
  border: none;
  width: 219px;
  margin-bottom: 24px;
  margin-left: 19px;
  color: #a5a5a5;
}

.red{
  color: red;
}