<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Livro</title>
    <link rel="stylesheet" href="styles/buscar_livro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="container-logo">
            <img class="logo" src="assets/svg/ion_book.svg">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Cadastrar</a></li>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Sobre</a></li>
                <img src="assets/svg/Vector.svg">
            </ul>    
        </nav>
    </header>

    <img src="assets/svg/Group 32.svg" class="wave1">
    <img src="assets/svg/Group 33.svg" class="wave2">
    <img src="assets/svg/Group 34.svg" class="wave3">

    <div class="waitmaincontainer">
        <div class="formcontainer">
            <form>
                <div class="namecontainer">
                    <p>Nome</p>
                    <input type="text" name="nome" placeholder="Informe o nome do livro">
                </div>
                <div class="autorcontainer">
                    <p>Autor</p>
                    <input type="text" name="autor" placeholder="Informe o autor(a) do Livro">
                </div>
                <div class="editoracontainer">
                    <p>Editora</p>
                    <input type="text" name="editora" placeholder="Informe a editora do livro">
                </div>
                <div class="anocontainer">
                    <p>Ano</p>
                    <input type="text" name="ano" placeholder="2024">
                </div>
                <div class="idcontainer">
                    <p>ID</p>
                    <input type="text" name="id" placeholder="0000-0">
                </div>
                <input type="submit" value="Buscar" class="buscar">
            </form>
        </div>
    </div>
</body>

</html>