{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'styles/cadastrofun.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body class="background">
    <header>
        <div class="container-logo">
            <img class="logo" src="{% static 'assets/svg/ion_book.svg' %}" alt="">
        </div>
        <nav class="navbar">
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
                <li><a href="{% url 'cadastro'%}">Cadastrar</a></li>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Sobre</a></li>
                <li><img src="{% static 'assets/svg/Vector.svg' %}" alt="Mais opções"></li>
            </ul>    
        </nav>
    </header>
    
        <img src="{% static 'assets/svg/Group 32.svg' %}" class="wave1">
        <img src="{% static 'assets/svg/Group 33.svg' %}" class="wave2">
        <img src="{% static 'assets/svg/Group 34.svg' %}" class="wave3">

    <section>
      <div class="cadastro">
        <form method = "POST">
          <div class="form-group">

            {% csrf_token %}
            <div class="nome">
                <label for="{{ form.nome_completo.id_for_label }}">Nome completo <span>*</span></label>
                <input type="text" class="usuario" name="{{ form.nome_completo.html_name }}" placeholder="Informe seu nome" id="{{ form.nome_completo.id_for_label }}">
            </div>

            <div class="nome">
                <label for="{{ form.email.id_for_label }}">Email <span>*</span></label>
                <input type="email" name="{{ form.email.html_name }}" placeholder="usuario@gmail.com" id="{{ form.email.id_for_label }}">
            </div>

            <div class="nome">
              <label for="{{ form.telefone.id_for_label }}">Telefone <span>*</span></label>
              <input type="number" name="{{ form.telefone.html_name }}" placeholder="(00)0000-0000" id="{{ form.telefone.id_for_label }}">
            </div>

            <div class="nome">
              <label for="{{ form.cidade_estado.id_for_label }}">Cidade / Estado <span>*</span></label>
              <input type="text" name="{{ form.cidade_estado.html_name }}" placeholder="Pau dos Ferros / RN" id="{{ form.cidade_estado.id_for_label }}">
            </div>
            
            <div class="nome">
                <label for="{{ form.cpf.id_for_label }}">CPF<span>*</span></label>
                <input type="number" name="{{ form.cpf.html_name }}" placeholder="000.000.000-00" id="{{ form.cpf.id_for_label }}">
            </div>
            
            <div class="nome">
                <label for="{{ form.data_nascimento.id_for_label }}">Data de nascimento<span>*</span></label>
                <input type="date" name="{{ form.data_nascimento.html_name }}" id="{{ form.data_nascimento.id_for_label }}">
            </div>
            
            <div class="senha">
                <label for="{{ form.senha.id_for_label }}">Senha<span>*</span></label>
                <input type="password" name="{{ form.senha.html_name }}" placeholder="***********" id="{{ form.senha.id_for_label }}">
                <span class="show-password"><img src="{% static 'assets/svg/iconoir_ey.svg' %}" alt=""></span> 
            </div>
                
          </div>

          <div class="bottom">
            <button class="cadastrar"
            type="submit">Cadastrar</button>
          </div>
              
          </div>
        </form>
      </div>

</body>
</html>