{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastar Livro</title>
    <link rel="stylesheet" href="{% static 'styles/cadastar_livro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="container-logo">
            <img class="logo" src="{% static 'assets/svg/ion_book.svg' %}">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
                <li><a href="{% url 'cadastro'%}">Cadastrar</a></li>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Sobre</a></li>
                <img src="{% static 'assets/svg/Vector.svg' %}">
            </ul>    
        </nav>
    </header>

    <img src="{% static 'assets/svg/Group 32.svg' %}" class="wave1">
    <img src="{% static 'assets/svg/Group 33.svg' %}" class="wave2">
    <img src="{% static 'assets/svg/Group 34.svg' %}" class="wave3">

    <div class="waitmaincontainer">
        <div class="formcontainer">
            <form method = "POST">
                {% csrf_token %}
                <div class="namecontainer">
                    <p>Nome<span class="red">*</span></p>
                    <input type="text" name="nome" placeholder="Informe o nome do livro">
                </div>
                <div class="autorcontainer">
                    <p>Autor<span class="red">*</span></p>
                    <input type="text" name="autor" placeholder="Informe o autor(a) do Livro">
                </div>
                <div class="editoracontainer">
                    <p>Editora<span class="red">*</span></p>
                    <input type="text" name="editora" placeholder="Informe a editora do livro">
                </div>
                <div class="anocontainer">
                    <p>Ano<span class="red">*</span></p>
                    <input type="text" name="ano" placeholder="2024">
                </div>
                <input type="submit" value="Cadastrar" class="cadastrar">
            </form>
        </div>
    </div>
</body>

</html>