{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">.">
</head>

<body class="background">
    <header>
        <div class="container-logo">
            <img class="logo" src="assets/svg/ion_book.svg" alt="">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Cadastrar</a></li>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>    
        </nav>
    </header>
    
    <section>
        <div class="container">
            <h1 class="fonte">Explore sua <br> experiência literária</h1>
        </div>
        <div class="home">
            <a class="bottom" href="#">Acesse</a>
        </div>
    </section>
</body>
</html>