<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça login</title>
    <link rel="stylesheet" href="styles/login.css">
    
</head>
<body class="background">
    <header>
        <div class="container-logo">
            <img class="logo" src="assets/svg/ion_book.svg">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Cadastrar</a></li>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Sobre</a></li>
                <img src="assets/svg/Vector.svg">
            </ul>    
        </nav>
    </header>

<div class="container">
    <img class="ger"
    src="assets/svg/gerente.svg">
    <img class="fun"
    src="assets/svg/funcionario.svg">
    <section>
</div>
    <div class="titulo">
            <a class="fonte" href="#">Entrar como:</a>
    </div>
          <div class="bottom">
            <a class="Gerente" href="#">Gerente</a>
            <a class="Funcionario" href="http://127.0.0.1:5500/front-biblioteca/loginfun.html">Funcionário</a>
        </div>
    <div class="sair">
        <a  class="logout"
        href="http://127.0.0.1:5500/front-biblioteca/main.html"> 
        <p>Logout</p>
        <img class="livro"
        src="assets/svg/solar_exit-bold.svg" alt="x">
    
        </a>
    </div>
    </section>
</body>
</html>